CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/builder
/.vs
/out
/CMakePresets.json
/CMakeUserPresets.json
cmake_generate
auto_generate_files
